body, html{
    background-color: #968463;
}
div{
    border: 2px double #5f4e2f;
}
p{
    border: 2px double #5f4e2f;
}
h1{
    border: 2px double #5f4e2f;
}
.card{
    background-color: #e2cda6;
    width:250px;
    border: 2px solid #5f4e2f;
}
.card-imagem{
    margin-top:25px;
    margin-left:30px;
    margin-right:10px;
    margin-bottom:100px;
    border: 3px double #5f4e2f;
}